@page "/fetchhistorylist"

<PageTitle>FetchHistoryList</PageTitle>

@using OA.Data;
@using OA.Service;

@inject IUserLoginHistoryService ulhs

<h1>Users logging history list</h1>

<p>This component fetches user's logging history list</p>

@if (userHistoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usr in userHistoryList)
            {
                <tr>
                    <td>@usr.LoginDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<UserLoginHistory>? userHistoryList;

    protected override async Task OnInitializedAsync()
    {
        userHistoryList = await ulhs.GetById(LoggedUserService.UserId);
    }
}
